.app {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.home-container {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #131325;
}

.container1 {
  background: #ffe4b2;

  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.card_container {
  background-color: #ffe4b2;
}

.block1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  margin: 0;
  box-sizing: border-box;

  flex-wrap: wrap;
  background-color: #131325;
  color: #ffe4b2;
  border-bottom: 1px solid #131325;
  animation: slideDownStatic 0.5s ease-out;
  position: relative;
  z-index: 10;
  overflow-x: hidden;
}

.block1 img {
  width: 41%;
  height: auto;
  background-color: #e5e7eb;
  border-radius: 12px;
  object-fit: cover;
  max-width: 100%;
}

.ShadowTitle {
  font-size: 3.5rem;
  font-weight: 800;
  margin: 20px 0 0 0;
  color: #ffe4b2;
}

.info {
  text-align: left;
  margin: 1rem 0;
  font-size: 1.32rem;
  max-width: 650px;
  line-height: 1.6;
  color: #80a69f;
}

.b1 {
  text-decoration: none;
  background: #fab869;
  color: #000000 !important;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
}

.b2 {
  margin-left: 1rem;
  margin-bottom: 4rem;
  font-weight: bold;
}

button {
  background: #fab869;
  color: #000000;
  margin: 20px 0 24px 0;
  padding: 0.6rem 1.2rem;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 25px;
  border: none;
  transition: background 0.3s ease;
  align-items: center;
}

button:hover {
  background: linear-gradient(to right, #4a79a5, #8ca8d1);
}

@keyframes slideDownStatic {
  from {
    transform: translateY(-500px);
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 1242px) {
  .block1 img {
    width: 70%;
    height: auto;
  }

  .ShadowTitle {
    font-size: 4rem;
  }

  .block1 {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .info {
    font-size: 1.3rem;
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .block1 {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .ShadowTitle {
    font-size: 3rem;
  }

  .info {
    font-size: 1.1rem;
  }

  .b1,
  .b2 {
    font-size: 0.95rem;
    margin-left: 1rem;
  }

  .block1 img {
    align-items: center;
    width: 80%;
    height: auto;
  }
}